body {
    color: rgb(255, 255, 255);
    background: rgb(248, 58, 24);
}

.heading {
    width: 80%;
    font-size: 25px;
}

.Name_of_object {
    color: black;
}

#camera {
    border: 2px dashed rgba(0, 0, 0, 0.658);
    width: 370px;
    height: 300px;
    
}

#Result_name_object,#Precision_object {
    color: azure;
}
